@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapperOff {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(45,176,224,1);
  background: -moz-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(45,176,224,1)), color-stop(100%, rgba(96,40,168,1)));
  background: -webkit-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
  background: -o-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
  background: linear-gradient(45deg, rgba(45,176,224,1) 0%, rgba(96,40,168,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db0e0', endColorstr='#6028a8', GradientType=1 );
}

.mainOff {
  height: 66vh;
  background: #2a6bb1;
  box-shadow: 0px 2px 80px -20px rgba(0,0,0,0.5);
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}
.containerOff {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1140px;
}

.window {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
 
}

.info {
  height: 66vh;
  min-width:52.48vh;
  max-width:52.48vh;
  background: url("img/cards/18.error/7ad33c0e3434fb28fd5326cb8e841285.jpg") center center no-repeat;
  border: 2px solid #1f1f1f;
  border-right: 2px solid #131e29;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  overflow: hidden;
}


.form {
  height: auto;
  width: 100%;
  max-width: 990px;
  padding-top: 100px;
  padding-left: 40px;
  border-top: 2px solid #113a65;
  border-bottom: 2px solid #113a65;
  border-right: 2px solid #113a65;
}
.infoText {
  width: 100%;
  height: 100%;
}

.time {
  font-size: 1.66em;
  font-weight: 300;
  color: antiquewhite;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  padding-left: 15px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.temp {
  font-size: 5em;
  font-weight: 100;
  color: antiquewhite;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  padding-left: 15px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.tempFeels {
  font-size: 1.75em;
  font-weight: 300;
  color: antiquewhite;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  padding-left: 15px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #194d85;
  width: 45%;
  padding-bottom: 4px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 300;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #103a65;
}

input::-moz-placeholder {
  color: #103a65;
}

button {
  border: 2px solid #103a65;
  border-bottom: 4px solid #103a65;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #235d9c;
  color: #ffffff;
  outline: none!important;
}

button:hover {
  border-bottom: 2px solid #103a65;
  position: relative;
  top: 2px;
}

button:active {
  border-bottom: 2px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
}

.info h2 {
  font-size: 3em;
  color: #fff;
}


.infoWeather {
  width: 58%;
  font-size: 20px;
  color: #fff;
}

.error {
  color: #041f3c;
  font-weight: bold;
}

.clearsky {
  background: url("img/cards/2.Clear/a3716b9df5a01be1017705d30c171e97.jpg") center center no-repeat;
  background-size: cover;
}

.overcastclouds {
  background: url("img/cards/9.Cloudy/5d7281ef993fd693a74c067b10cbe4bf.jpg") center center no-repeat;
  background-size: cover;
}

.fewclouds.day {
  background: url("img/cards/5.PartyCloudy/7f65837735e65c60f596eb19d2ec1a28.jpg") center center no-repeat;
  background-size: cover;
}

.fewclouds.night {
  background: url("img/cards/6.PartyCloudyNight/516e6460643aefb61bb2cfeb9bc06511.jpg") center center no-repeat;
  background-size: cover;
}

.scatteredclouds.day {
  background: url("img/cards/5.PartyCloudy/7f65837735e65c60f596eb19d2ec1a28.jpg") center center no-repeat;
  background-size: cover;
}

.scatteredclouds.night {
  background: url("img/cards/6.PartyCloudyNight/516e6460643aefb61bb2cfeb9bc06511.jpg") center center no-repeat;
  background-size: cover;
}

.brokenclouds.day{
  background: url("img/cards/5.PartyCloudy/2bde9d2129c3570ed4fc701a137e9eae.jpg") center center no-repeat;
  background-size: cover;
}

.brokenclouds.night{
  background: url("img/cards/6.PartyCloudyNight/b717f48ddcd65bebf8d4bd2b329ac166.jpg") center center no-repeat;
  background-size: cover;
}

.lightshowersnow {
  background: url("img/cards/14.LightSnow/e9d85b500365c9e3b7a5e717a534e07c.jpg") center center no-repeat;
  background-size: cover;
}

.lightrain {
  background: url("img/cards/10.LightRainShower/605df1a452895eb0d1d6e84dab6e27a6.jpg") center center no-repeat;
  background-size: cover;
}

.lightintensityshowerrain {
  background: url("img/cards/10.LightRainShower/605df1a452895eb0d1d6e84dab6e27a6.jpg") center center no-repeat;
  background-size: cover;
}

.snow {
  background: url("img/cards/19.Snow/5fa058b377481f2c89fb39300a62cf94.jpg") center center no-repeat;
  background-size: cover;
}

.showersnow {
  background: url("img/cards/20.RainSnow/f1b74d5c41f02e57fe0374cd913e5e6a.jpg") center center no-repeat;
  background-size: cover;
}

.lightsnow {
  background: url("img/cards/14.LightSnow/0a811f497e4fe5047fca279d9a6cbd2b.jpg") center center no-repeat;
  background-size: cover;
}

.mist {
  background: url("img/cards/17.Fog/ff788cccee005416ce6da1395c3879dc.jpg") center center no-repeat;
  background-size: cover;
}

.fog {
  background: url("img/cards/17.Fog/ff788cccee005416ce6da1395c3879dc.jpg") center center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1280px) {

.window {
   flex-direction: column;
   max-width: 52.48vh;
   height: 100%;
   
  }
.form {
  max-width: 52.48vh;
  height: 25vh;
  padding-top: 20px;
  padding-left: 10px;
  border-left: 2px solid #113a65;
  border-top: 0px;
   }
.containerOff {
  max-width: 52.48vh;
  height: 100%;
  
   }
.mainOff {
  max-width: 52.48vh;
  
  height: 100%;
  max-height: 935px;
}
input[type="text"]{
  width: 50%;
}

button {
  padding: 4px 10px;
}
.time {
  font-size: 1.6em;
  font-weight: 300;
  padding-left: 15px;
  padding-top: 15px;
}

.temp {
  font-size: 4.5em;
  font-weight: 100;
  padding-left: 15px;
}

.tempFeels {
  font-size: 1.4em;
  font-weight: 300;
  padding-left: 15px;
}

.infoWeather {
  width: 58%;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
}
}

@media screen and (max-width: 1080px) {
  .info {
    min-width: 40vh;
    max-width: 40vh;
  }
  
  .window {
     flex-direction: column;
     max-width: 40vh;
     height: 100%;
     
    }
  .form {
    max-width: 40vh;
    height: 25vh;
    padding-top: 20px;
    padding-left: 10px;
    border-left: 2px solid #113a65;
    border-top: 0px;
     }
  .containerOff {
    max-width: 40vh;
    height: 100%;
    
     }
  .mainOff {
    max-width: 40vh;
    
    height: 100%;
    max-height: 805px;
  }
  input[type="text"]{
    width: 50%;
  }
  
  button {
    padding: 4px 10px;
  }
  
  .time {
    font-size: 1.5em;
    font-weight: 300;
    padding-left: 15px;
    padding-top: 15px;

  }
  
  .temp {
    font-size: 4em;
    font-weight: 100;
    padding-left: 15px;


  }
  
  .tempFeels {
    font-size: 1.25em;
    font-weight: 300;
    padding-left: 15px;
  }

  .infoWeather {
    width: 58%;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
  }
  
  }